* {
	font-family: 'Roboto', sans-serif;
}

@font-face{
	font-family: batman;
	src:url(../fonts/batmfo__.ttf);
}

body {
	margin: 0;
	padding: 0;
}

.clearfix:after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.navbar {
	background-color: #F7F7F7;
	width:100%;
	position: fixed;
	top: 0;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin:0;
	float:right;
}

.navbar > .navbar-list > .navbar-item {
	display: inline;
}

.navbar > .navbar-list > .navbar-item a {
	padding: 20px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	display: inline-block;
}

.navbar > .navbar-list > .navbar-item.active a {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.header > .title-img {
	background-image: url(../img/batman.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

.header > .title {
	top:65%;
	z-index: 1;
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	font-size: 100px;
	font-family: batman;
}

.title-quoted {
	position: absolute;
	left: 0;
	top: 60%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 28px;
	font-family: batman;
}

.about-me > .batman-video {
	float: left;
	max-width: 50%;
}

.about-me > .batman-info {
	float: right;
	max-width: 50%;
}

.team-member-photo > img{
	height: 300px;
	max-width: 100%;
	border-radius: 50%;
}





