* {
	font-family: 'Roboto', sans-serif;
	box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

@font-face{
	font-family: batman;
	src:url(../fonts/batmfo__.ttf);
}

body {
	margin: 0;
	padding: 0;
	--main-text-color: #F7F7F7;
	--secondary-text-color: #A4A4A4;
	--section-reverse-color: rgba(0, 0, 0, 0.92);
}

.clearfix:after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.navbar {
	background-color: var(--main-text-color);
	width:100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin:0;
	float:right;
	font-size: 0px;
}

.navbar > .navbar-list > .navbar-item {
	display: inline;
	font-size: 16px;
}

.navbar > .navbar-list > .navbar-item a {
	padding: 20px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	display: inline-block;
	transition: all 0.5s linear;
}

.navbar > .navbar-list > .navbar-item.active a {
	color: var(--main-text-color);
	background-color: var(--secondary-text-color);
}
 .navbar > .navbar-list > .navbar-item a:hover{
 	color: var(--main-text-color);
 	background-color: var(--secondary-text-color);
 }

.header > .title-img {
	background-image: url(../img/batman.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	transition:background-size 0.5s;
}

.header > .title-img:hover{
	background-size: 115% 115%;
}

.header > .title {
	top:65%;
	z-index: 1;
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	font-size: 100px;
	font-family: batman;
	animation:titleAnimation 2s backwards;
	animation-delay:0.8s;
	visibility: hidden;
}

.title-quoted {
	position: absolute;
	left: 0;
	top: 60%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 28px;
	font-family: batman;
	animation:subtitleAnimation 3s forwards;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

.section-container{
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-reverse {
	background-color: var(--section-reverse-color);
	color: var(--main-text-color);
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

.about-me > .batman-video {
	float: left;
	max-width: 50%;
}

.about-me > .batman-info {
	float: right;
	max-width: 50%;
}

.team-member-photo img{
	height: 300px;
	max-width: 100%;
	border-radius: 50%;
}

.flip{
	height: 305px;
	position: relative;
}	

.flip-img{
	position: absolute;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	transition:transform 1s;
}

.back{
	transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
}

.flip:hover .front{
	transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
}

.flip:hover .back{
	transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
}


.transport-img{
	max-width: 100%;
	height: 250px;
	border-radius: 50%;
}

.footer{
	background-color: rgba(0,0,0,0.92);
	color: var(--main-text-color);
	height: 50px;
	display: flex;
	align-items:center;
	justify-content:center;
}

#googleMap{
	height: 400px;
}

.form{
	padding: 0 20px;
}

.form .form-row{
	padding: 10px;
}

input{
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type=button], input[type=submit], button{
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 40px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead > tr{
	background-color: #f5f5f5;
}

th {
	height: 50px;
	font-weight: bold;
}

th, td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

tbody > tr:hover {
	background-color: #ddd;
}

@keyframes titleAnimation {
	0%{
		font-size: 200px;
	}
	50%{
		font-size: 180px;
	}
	100%{
		font-size: 100px;
		visibility: visible;
	}

}

@keyframes subtitleAnimation{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5 ;
	}
	100%{
		opacity: 1;
	}
}






